.pokemon-list-wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-wrapper {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.buttonClass {
    cursor: pointer;
    padding-top: 10px;
}