.pokemon {
    margin-top: 2rem;
    flex-basis: 20%;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokemon-img{ 
    height: 150px;
    max-height: 80%;
}

.pokemon-name{ 
    height: 50px;
    letter-spacing: 0.2rem;
    font-size: larger;
}

.pokemon:hover {
    background-color: beige;
    cursor: pointer;
}